span{
  background: #2B2B2B;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 20vw;
  min-height: 20vw;
  opacity: 100%;
  box-shadow: 0px 4px 0px #000000;
  border-radius: 5px;
  padding: 1vw 1vw;
  margin: 1vw 10vw 5vw 0;
  line-height: 60px;
  cursor: pointer;
}
.container{
  display: inline;
  margin: 0 auto;
	position: relative;
	width: 25%;		/* desired width */
  float: left;
}
.container:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.top-offset{
  width: 22vw;
  height: 22vw;
  float: left;
}

.offset{
  width: 30vw;
  height: 25vw;
  float: left;
}

span:active{
  background:#1E1E1E;
  transform: translateY(4px);
  box-shadow:none;
}

.activate{
  background:#1E1E1E;
  transform: translateY(4px);
  box-shadow:none;
}

br{
  clear: left;
}

p{
  color: #EAEAEA;
  position: absolute;
  bottom: 2vw;
  left: 2vw;
  font-family: 'Roboto', sans-serif;
  font-size: 11vw;
}
@media only screen and (max-width: 768px) {
  p{
    bottom: -1vw;
    }
}
@media only screen and (max-width: 400px) {
  p{
    bottom: -5vw;
    }
}

body{
  background: #121212;
  display: block;
  overflow: hidden;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}
