html {
  height: 100%;
}
h1 {
  font-family: 'Poppins', sans-serif;
  padding: 0 0 10px 0;
  font-size: 44px;
  color: #383838;
  text-align: center;
  border:  none;
}

@media only screen and (min-width: 500px) {
 h1{
  font-size: 64px;
 }

}


body {
  min-height: 100%;
  background: #e4e4e4;
}

.main-bg {
  background: #e4e4e4 url("./images/bg.png") center no-repeat;

}
.center {
  margin: 0 auto;
}

.main-head {
  width: 50%;
  position: absolute;
  top: 45%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.nav {
  list-style-type: none;
  text-align: center;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 2px solid #777;
  border-top: 2px solid #777;
}
a {
  text-decoration: none;
  color: #383838;
  font-weight: bolder;

}

a:hover, a:focus {
  text-decoration: none;
  color: #ffb8b8;  
}

.sub-text {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 24px;
}

.about-text {
  font-family: 'Poppins', sans-serif;
  line-height: 2;
  text-align: center;
  margin: 2%;
  font-size: 18px;
}
@media only screen and (min-width: 600px) {
  .about-text {
    line-height: 1.4;
    font-size: 36px;
  }
}

.nav li {
  font-family: 'Poppins', sans-serif;

  font-size: 36px;
  padding: 20px;
}

.display-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.work {
  max-width: 300px;
  min-width: 300px;
  max-height: 300px;
  min-height: 300px;
}

.art {
  margin: 10px;
  max-width: 600px;
  max-height: 600px;
}

.img-container{
  margin: 10px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  background: #000;
  transition: 0.5s ease;
}

.img-container:hover .overlay {
  opacity: 0.75;
}

.title {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 100px 0;
}