div{
  text-align: center;
  width: auto;
  overflow: visible;
  margin: 10%;
}

body{
    background-color: #727786;
    font-family: "Rubik One", sans-serif;
    font-size: 100%;
    color: #dd7e1c;
    overflow-x: hidden;
}
h1{
  font-size: 3.5em;
  text-align: center;
}

.outline{
  stroke-dasharray: 136.25px;
  stroke-dashoffset: 1090px;
  animation: draw 12s linear infinite;
}

.D{
  stroke-dasharray: 2.75px;
  stroke-dashoffset: 110px;
  animation: draw 4s steps(25) infinite;
}
.O{
  animation: hop 2.1s steps(2) infinite;
}

.P{
  animation: hop 2s steps(2) infinite reverse;
}
.E{
  stroke-dasharray: 43px;
  stroke-dashoffset: 43px;
  animation: draw 4s steps(25) infinite alternate;
}

@keyframes draw {
  to{
    stroke-dashoffset: 0;
  }
}

@keyframes hop {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-10px);
  }
}

